.hero {
    width: 100%;
    min-height: 100vh;
    background: url("../img/COG.png") top center;
    background-size: cover;
    position: relative;
    padding: 120px 0;
    z-index: 3;
  }
  /* css for the post-image */
  .post-image img{
    width: 300px;
    height: 200px;
  }
  a .cta-btn{
    background: white;
    color: green;
  }
